In [1]:
# importing libraries
from nltk.util import pr
from collections import Counter
import numpy as np
import nltk
from nltk.stem import PorterStemmer
from natsort import natsorted
import string
import os
import re
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from yaml.tokens import Token

## Part 1

In [2]:

path = r"C:/Users/Yousef Khaled/Documents/GitHub/Information_retrival/New folder"
os.chdir(path)

In [3]:
## insert paths in dataset 
stemmer= PorterStemmer()
File_Map=[]
pos_index = {}
file_map={}
for file in os.listdir():

    if file.endswith(".txt"):
        file_path = f"{path}/{file}"
        File_Map.append(file_path)

In [4]:
File_Map

['C:/Users/Yousef Khaled/Documents/GitHub/Information_retrival/New folder/0.txt',
 'C:/Users/Yousef Khaled/Documents/GitHub/Information_retrival/New folder/1.txt',
 'C:/Users/Yousef Khaled/Documents/GitHub/Information_retrival/New folder/2.txt',
 'C:/Users/Yousef Khaled/Documents/GitHub/Information_retrival/New folder/3.txt',
 'C:/Users/Yousef Khaled/Documents/GitHub/Information_retrival/New folder/4.txt',
 'C:/Users/Yousef Khaled/Documents/GitHub/Information_retrival/New folder/5.txt',
 'C:/Users/Yousef Khaled/Documents/GitHub/Information_retrival/New folder/6.txt',
 'C:/Users/Yousef Khaled/Documents/GitHub/Information_retrival/New folder/7.txt',
 'C:/Users/Yousef Khaled/Documents/GitHub/Information_retrival/New folder/8.txt',
 'C:/Users/Yousef Khaled/Documents/GitHub/Information_retrival/New folder/9.txt']

In [5]:
# Number of documents used
N=len(File_Map)

In [6]:
N

10

## Preprocessing

In [7]:
file = open("stopwords/stopwords.txt","r")
stop_words = []
for line in file:
    line_strip = line.strip()
    line_split= line.split()
    stop_words = stop_words +line_split
file.close()
#print (stop_words)

In [8]:
Stop_word_i=[]
def preprocess(text):
    processed_text=np.char.lower(text)
    symbols = "!\"#$%&()*+-./:;<=>?@[\]^_`{|}~\n"
    for i in range(len(symbols)):
        processed_text = np.char.replace(processed_text, symbols[i], ' ')
        processed_text = np.char.replace(processed_text, "  ", " ")
    processed_text = np.char.replace(processed_text, ',', '')
    processed_text=np.char.replace(processed_text, "'", "")
    
    words = word_tokenize(str(processed_text))
    new_text = ""
    
    for w in words:
        if w not in stop_words and len(w) > 1:
            new_text = new_text + " " + w
        else:  Stop_word_i.append(w) 
    return new_text

In [9]:
Stop_word_i

[]

## Extraction

In [11]:
# read file from pathes in dataset and extract terms after prepocessing
processed_text = []

for i in File_Map:
    file = open(i, 'r')
    text = file.read().strip()
    file.close() 
    processed_text.append(word_tokenize(str(preprocess(text))))

In [12]:
processed_text

[['antony', 'brutus', 'caeser', 'cleopatra', 'mercy', 'worser'],
 ['antony', 'brutus', 'caeser', 'calpurnia'],
 ['mercy', 'worser'],
 ['brutus', 'caeser', 'mercy', 'worser'],
 ['caeser', 'mercy', 'worser'],
 ['antony', 'caeser', 'mercy'],
 ['angels', 'fools', 'fear', 'in', 'rush', 'to', 'tread', 'where'],
 ['angels', 'fools', 'fear', 'in', 'rush', 'to', 'tread', 'where'],
 ['angels', 'fools', 'in', 'rush', 'to', 'tread', 'where'],
 ['fools', 'fear', 'in', 'rush', 'to', 'tread', 'where']]

In [13]:
Stop_word_i

[]

## Part 2

In [14]:

fileno = 0
i=0
for file_name in File_Map:

        text = processed_text[i]
        #print(text)

        for pos, term in enumerate(text):
            term = stemmer.stem(term)

            if term in pos_index:
                pos_index[term][0] = pos_index[term][0]+1 

                if fileno in pos_index[term][1]:
                    pos_index[term][1][fileno].append(pos)

                else:
                    pos_index[term][1][fileno] = [pos]

            else:
                pos_index[term] = []
                pos_index[term].append(1)
                pos_index[term].append({})
                pos_index[term][1][fileno] = [pos]

        i=i+1
        file_map[fileno] = File_Map[fileno]
        fileno += 1

In [15]:
pos_index

{'antoni': [3, {0: [0], 1: [0], 5: [0]}],
 'brutu': [3, {0: [1], 1: [1], 3: [0]}],
 'caeser': [5, {0: [2], 1: [2], 3: [1], 4: [0], 5: [1]}],
 'cleopatra': [1, {0: [3]}],
 'merci': [5, {0: [4], 2: [0], 3: [2], 4: [1], 5: [2]}],
 'worser': [4, {0: [5], 2: [1], 3: [3], 4: [2]}],
 'calpurnia': [1, {1: [3]}],
 'angel': [3, {6: [0], 7: [0], 8: [0]}],
 'fool': [4, {6: [1], 7: [1], 8: [1], 9: [0]}],
 'fear': [3, {6: [2], 7: [2], 9: [1]}],
 'in': [4, {6: [3], 7: [3], 8: [2], 9: [2]}],
 'rush': [4, {6: [4], 7: [4], 8: [3], 9: [3]}],
 'to': [4, {6: [5], 7: [5], 8: [4], 9: [4]}],
 'tread': [4, {6: [6], 7: [6], 8: [5], 9: [5]}],
 'where': [4, {6: [7], 7: [7], 8: [6], 9: [6]}]}

#### print positional index for each term

In [16]:
static_term='in'

In [17]:
sample_pos_idx = pos_index[ stemmer.stem(static_term)]
print("\n Positional Index")
number_of_occurance=sample_pos_idx[0]
postion_dic=sample_pos_idx[1]
print_list_doc=[]
print_list_pos=[]
doc_list = []
pos_list = []
for key, value in postion_dic.items() :
    doc_list.append(key)
    pos_list.append(value)
if(len(doc_list)<len(pos_list)):

        for i in range(len(doc_list)):
                print_list_doc.append('doc '+str(doc_list[i])+" :")
        for j in range(len(pos_list)): 
              print_list_pos.append( 'position'+str(pos_list[j][0]))

else:
        
        for i in range(len(pos_list)):
            print_list_pos.append( 'position '+str(pos_list[i][0]))           
            
        for j in range(len(doc_list)): 
              print_list_doc.append('doc'+str(doc_list[j])+" :")
print('<'+static_term+', '+str(len(doc_list))+' docs containing '+static_term+';')  
for i in range(len(print_list_doc)):
    print(print_list_doc[i]+print_list_pos[i])

 Positional Index
<in, 4 docs containing in;
doc6 :position 3
doc7 :position 3
doc8 :position 2
doc9 :position 2

In [18]:
processed_query=[]
input_user = input(" please write phrase query on positional index \n ")  
processed_query.append(word_tokenize(str(preprocess(input_user))))
for i in range(len(processed_query[0])) :
    try:
        word= processed_query[0][i]
        sample_pos_idx = pos_index[stemmer.stem(word)]
        print("\n Positional Index")
        number_of_document=sample_pos_idx[0]
        postion_dic=sample_pos_idx[1]
        doc_list = []
        pos_list = []
        print_list_doc=[]
        print_list_pos=[]
        
        for key, value in postion_dic.items() :
            doc_list.append(key)
            pos_list.append(value)
        if(len(doc_list)<len(pos_list)):
                for i in range(len(doc_list)):
                    print_list_doc.append('doc '+str(doc_list[i])+" :")
                for j in range(len(pos_list)): 
                    print_list_pos.append( 'position'+str(pos_list[j][0]))
        else:
                       
            for i in range(len(pos_list)):
                print_list_pos.append( 'position '+str(pos_list[i][0]))           

            for j in range(len(doc_list)): 
                  print_list_doc.append('doc'+str(doc_list[j])+" :")
                        
        print('<'+word+', '+str(len(doc_list))+' docs containing '+word+';')  

        for i in range(len(print_list_doc)):
            print(print_list_doc[i]+print_list_pos[i])

        file_list = sample_pos_idx[1]

        print("\n FilePath, \t [Positions] \n ")
        for fileno, positions in file_list.items():
            print(file_map[fileno] , positions)
            print("\n")
    except KeyError:
        pass

 please write phrase query on positional index
 fools fear in

 Positional Index
<fools, 4 docs containing fools;
doc6 :position 1
doc7 :position 1
doc8 :position 1
doc9 :position 0

 FilePath, 	 [Positions]

C:/Users/Yousef Khaled/Documents/GitHub/Information_retrival/New folder/6.txt [1]


C:/Users/Yousef Khaled/Documents/GitHub/Information_retrival/New folder/7.txt [1]


C:/Users/Yousef Khaled/Documents/GitHub/Information_retrival/New folder/8.txt [1]


C:/Users/Yousef Khaled/Documents/GitHub/Information_retrival/New folder/9.txt [0]



 Positional Index
<fear, 3 docs containing fear;
doc6 :position 2
doc7 :position 2
doc9 :position 1

 FilePath, 	 [Positions]

C:/Users/Yousef Khaled/Documents/GitHub/Information_retrival/New folder/6.txt [2]


C:/Users/Yousef Khaled/Documents/GitHub/Information_retrival/New folder/7.txt [2]


C:/Users/Yousef Khaled/Documents/GitHub/Information_retrival/New folder/9.txt [1]



 Positional Index
<in, 4 docs containing in;
doc6 :position 3
doc7 :position 3
doc8 :position 2
doc9 :position 2

 FilePath, 	 [Positions]

C:/Users/Yousef Khaled/Documents/GitHub/Information_retrival/New folder/6.txt [3]


C:/Users/Yousef Khaled/Documents/GitHub/Information_retrival/New folder/7.txt [3]


C:/Users/Yousef Khaled/Documents/GitHub/Information_retrival/New folder/8.txt [2]


C:/Users/Yousef Khaled/Documents/GitHub/Information_retrival/New folder/9.txt [2]

### Part 3

In [19]:
# Calculate Document Frequency df : occurance of term in N of documents
DF = {}
for i in range(N):
    tokens = processed_text[i]
    for w in tokens:
        try:
            DF[w].add(i)
        except:
            DF[w] = {i}
for i in DF:
    DF[i] = len(DF[i])

In [20]:
DF

{'antony': 3,
 'brutus': 3,
 'caeser': 5,
 'cleopatra': 1,
 'mercy': 5,
 'worser': 4,
 'calpurnia': 1,
 'angels': 3,
 'fools': 4,
 'fear': 3,
 'in': 4,
 'rush': 4,
 'to': 4,
 'tread': 4,
 'where': 4}

### Calculate  Term Frequency and IDF

In [21]:
import math
tf_idf = {}
term_freq={}
w_term_freq={}
IDF={}

for i in range(N):
    tokens = processed_text[i]    
    freq = Counter(tokens)
    
    for token in np.unique(tokens):
        tf=1+math.log(freq[token])
        term_freq[i, token]=freq[token]
        w_term_freq[i,token]=tf
        idf =  math.log(N/DF[token],10)
        IDF[token]=idf
#         print(token+' in document '+str(i)+'\n\tfrequancy count is : '+str(freq[token])+
#               '\n\tTerm frequency is  :  '+str(tf)+'\n\tIDF is : ' +str(idf))
        tf_idf[i, token] = tf*idf

### Display tf.IDF Matrix

In [22]:
x=list(tf_idf.keys())

In [23]:
doc_list=[]
term_list=[]
for i in range(len(x)):
    doc_list.append(x[i][0])
    term_list.append(x[i][1])
term_list=np.unique(term_list) 
doc_list=np.unique(doc_list)

In [24]:
import pandas as pd
columns=[]
columns.append('term')
for i in doc_list:
    columns.append('doc'+str(i))
    
TF_ID_matrix=pd.DataFrame(columns=columns,index=None)
TF_matrix=pd.DataFrame(columns=columns,index=None)
TF_W_matrix=pd.DataFrame(columns=columns,index=None)
IDF_matrix=pd.DataFrame(columns=columns,index=None)
TF_ID_matrix['term']=term_list
TF_matrix['term']=term_list
TF_W_matrix['term']=term_list
IDF_matrix['term']=term_list
for i in range(len(TF_ID_matrix)):
    for j in doc_list:
        first_key=j
        column='doc'+str(j)
        second_key=TF_ID_matrix['term'].iloc[i]
        if(first_key, second_key)in tf_idf.keys():
            TF_ID_matrix[column].iloc[i]=tf_idf[first_key,second_key]
        if(first_key, second_key)in tf_idf.keys():
            TF_matrix[column].iloc[i]=term_freq[first_key,second_key]
        if(first_key, second_key)in tf_idf.keys():
            TF_W_matrix[column].iloc[i]=w_term_freq[first_key,second_key]        
        else:
            continue
TF_ID_matrix.fillna(0,inplace=True) 
TF_matrix.fillna(0,inplace=True) 
TF_W_matrix.fillna(0,inplace=True)

In [25]:
TF_matrix.head(20)

         term  doc0  doc1  doc2  doc3  doc4  doc5  doc6  doc7  doc8  doc9
0      angels     0     0     0     0     0     0     1     1     1     0
1      antony     1     1     0     0     0     1     0     0     0     0
2      brutus     1     1     0     1     0     0     0     0     0     0
3      caeser     1     1     0     1     1     1     0     0     0     0
4   calpurnia     0     1     0     0     0     0     0     0     0     0
5   cleopatra     1     0     0     0     0     0     0     0     0     0
6        fear     0     0     0     0     0     0     1     1     0     1
7       fools     0     0     0     0     0     0     1     1     1     1
8          in     0     0     0     0     0     0     1     1     1     1
9       mercy     1     0     1     1     1     1     0     0     0     0
10       rush     0     0     0     0     0     0     1     1     1     1
11         to     0     0     0     0     0     0     1     1     1     1
12      tread     0     0     0     0     0     0     1     1     1     1
13      where     0     0     0     0     0     0     1     1     1     1
14     worser     1     0     1     1     1     0     0     0     0     0

In [26]:
TF_W_matrix.head(20)

         term  doc0  doc1  doc2  doc3  doc4  doc5  doc6  doc7  doc8  doc9
0      angels   0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0   0.0
1      antony   1.0   1.0   0.0   0.0   0.0   1.0   0.0   0.0   0.0   0.0
2      brutus   1.0   1.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0
3      caeser   1.0   1.0   0.0   1.0   1.0   1.0   0.0   0.0   0.0   0.0
4   calpurnia   0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
5   cleopatra   1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
6        fear   0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   0.0   1.0
7       fools   0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0   1.0
8          in   0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0   1.0
9       mercy   1.0   0.0   1.0   1.0   1.0   1.0   0.0   0.0   0.0   0.0
10       rush   0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0   1.0
11         to   0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0   1.0
12      tread   0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0   1.0
13      where   0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0   1.0
14     worser   1.0   0.0   1.0   1.0   1.0   0.0   0.0   0.0   0.0   0.0

In [27]:
Doc_Freq=pd.DataFrame.from_dict(DF,orient='index',columns=['DF'])
Inverse_DF=pd.DataFrame.from_dict(IDF,orient='index',columns=['IDF'])
Doc_Freq['IDF']=Inverse_DF['IDF']
Doc_Freq

           DF       IDF
antony      3  0.522879
brutus      3  0.522879
caeser      5  0.301030
cleopatra   1  1.000000
mercy       5  0.301030
worser      4  0.397940
calpurnia   1  1.000000
angels      3  0.522879
fools       4  0.397940
fear        3  0.522879
in          4  0.397940
rush        4  0.397940
to          4  0.397940
tread       4  0.397940
where       4  0.397940

In [28]:
TF_ID_matrix.head(20)

,term,doc0,doc1,doc2,doc3,doc4,doc5,doc6,doc7,doc8,doc9
0,angels,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.522879,0.522879,0.522879,0.000000
1,antony,0.522879,0.522879,0.00000,0.000000,0.00000,0.522879,0.000000,0.000000,0.000000,0.000000
2,brutus,0.522879,0.522879,0.00000,0.522879,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
3,caeser,0.301030,0.301030,0.00000,0.301030,0.30103,0.301030,0.000000,0.000000,0.000000,0.000000
4,calpurnia,0.000000,1.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
5,cleopatra,1.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
6,fear,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.522879,0.522879,0.000000,0.522879
7,fools,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940
8,in,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940
9,mercy,0.301030,0.000000,0.30103,0.301030,0.30103,0.301030,0.000000,0.000000,0.000000,0.000000
10,rush,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940
11,to,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940
12,tread,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940
13,where,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940
14,worser,0.397940,0.000000,0.39794,0.397940,0.39794,0.000000,0.000000,0.000000,0.000000,0.000000

In [29]:
TF_ID_matrix.shape[1]

11

In [30]:
from math import sqrt
doc_lenght=[]
for i in range(1,TF_ID_matrix.shape[1]):
    x=TF_ID_matrix.iloc[:,i]**2
    doc_lenght.append(sqrt(sum(x)))

In [31]:
doc_length_df = pd.DataFrame(columns=['doc_len','value'])
doc_length_df['doc_len']=TF_ID_matrix.columns[1:]
doc_length_df['value']=doc_lenght
doc_length_df

  doc_len     value
0    doc0  1.373462
1    doc1  1.279618
2    doc2  0.498974
3    doc3  0.782941
4    doc4  0.582747
5    doc5  0.674270
6    doc6  1.223496
7    doc7  1.223496
8    doc8  1.106137
9    doc9  1.106137

In [32]:
Normalized_tf_idf=TF_ID_matrix

In [33]:
for i in range(0,len(doc_length_df)):
    Normalized_tf_idf[doc_length_df.iloc[i,0]]=Normalized_tf_idf[doc_length_df.iloc[i,0]]/doc_length_df['value'].iloc[i]

In [34]:
Normalized_tf_idf

,term,doc0,doc1,doc2,doc3,doc4,doc5,doc6,doc7,doc8,doc9
0,angels,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.427365,0.427365,0.472707,0.000000
1,antony,0.380701,0.408621,0.000000,0.000000,0.000000,0.775474,0.000000,0.000000,0.000000,0.000000
2,brutus,0.380701,0.408621,0.000000,0.667839,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,caeser,0.219176,0.235250,0.000000,0.384486,0.516570,0.446453,0.000000,0.000000,0.000000,0.000000
4,calpurnia,0.000000,0.781483,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,cleopatra,0.728087,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,fear,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.427365,0.427365,0.000000,0.472707
7,fools,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
8,in,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
9,mercy,0.219176,0.000000,0.603298,0.384486,0.516570,0.446453,0.000000,0.000000,0.000000,0.000000
10,rush,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
11,to,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
12,tread,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
13,where,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
14,worser,0.289735,0.000000,0.797516,0.508263,0.682869,0.000000,0.000000,0.000000,0.000000,0.000000

In [36]:
total_vocab_size = len(DF)

In [37]:
def cosine_sim(a, b):
    cos_sim = np.dot(a, b)/(np.linalg.norm(a)*np.linalg.norm(b))
    return cos_sim

In [38]:
import math
def gen_vector(tokens):
    vector = np.zeros((len(total_vocab)))
    counter = Counter(tokens)
    words_count = len(tokens)
    for token in np.unique(tokens):
        tf = counter[token] 
        tf = 1+math.log((tf))
        idf = math.log((N/DF[token]),10)
        try:
            ind = total_vocab.index(token)
            vector[ind] = tf * idf
        except:
            pass
    return vector

In [39]:
def cosine_similarity(k, query):
    print("Cosine Similarity")
    preprocessed_query = preprocess(query)
    tokens = word_tokenize(str(preprocessed_query))

    print("\nQuery:", query)
    print("")
    print(tokens)

    d_cosines = []

    query_vector = gen_vector(tokens)

    for d in D:
        d_cosines.append(cosine_sim(query_vector, d))

    out = np.array(d_cosines).argsort()[-k:][::-1]

    print("")

    print(out)

In [40]:
D = np.zeros((N, total_vocab_size))
total_vocab = [x for x in DF]
for i in tf_idf:
    try:
        index = total_vocab.index(i[1])
        D[i[0]][index] = tf_idf[i]
    except:
        pass

Q = cosine_similarity(3,input_user)

Cosine Similarity

Query: fools fear in

['fools', 'fear', 'in']

[9 7 6]